[package]
name = "upstream-ontologist"
version = "0.1.36"
authors = [ "Jelmer Vernooij <jelmer@jelmer.uk>",]
edition = "2021"
license = "GPL-2.0+"
description = "tracking of upstream project metadata"
repository = "https://github.com/jelmer/upstream-ontologist.git"
homepage = "https://github.com/jelmer/upstream-ontologist"
default-run = "guess-upstream-metadata"

[dependencies]
log = "0.4"
shlex = "1.1.0"
serde_json = "1.0"
lazy_static = "1"
regex = "1"
url = "2"
xmltree = "0.10"
configparser = "3"
serde_yaml = "0.9"
percent-encoding = "2"
html5ever = ">=0.26"
chrono = "0.4"
textwrap = ">=0.16"
lazy-regex = "3"
breezyshim = "0.1.24"
debian-watch = { version = "0.2.1", optional = true }
debian-changelog = { version = "0.1.8", optional = true }
debbugs = "0.1.0"
clap = { version = "4,<4.5", features = ["derive", "env"] }
maplit = "1.0.2"
env_logger = "0.11"
xml = "0.8.10"
makefile-lossless = { version = "0.1.2", optional = true }
debian-copyright = { version = "0.1.2", optional = true }
debian-control = { version = "0.1.6", optional = true }
select = "0.6.0"
pulldown-cmark = "0.10.2"
debcargo = { optional = true, git = "https://salsa.debian.org/rust-team/debcargo" }
scraper = "0.19.0"

[workspace]
members = [ "upstream-ontologist-py",]

[features]
default = ["git-config", "launchpad", "opam", "dist-ini", "cargo", "r-description", "pyproject-toml", "python-pkginfo", "default-tls", "debian", "pyo3"]
default-tls = ["reqwest/default-tls"]
git-config = ["dep:gix-config"]
launchpad = ["dep:distro-info"]
opam = ["dep:opam-file-rs"]
dist-ini = ["dep:rust-ini"]
cargo = ["dep:toml"]
r-description = ["dep:mailparse"]
pyproject-toml = ["dep:pyproject-toml"]
python-pkginfo = ["dep:python-pkginfo"]
rustls-tls = ["reqwest/rustls-tls"]
debcargo = ["dep:debcargo"]
debian = ["debcargo", "dep:debian-watch", "dep:makefile-lossless", "dep:debian-changelog", "dep:debian-control", "dep:debian-copyright"]
pyo3 = []

[lib]

[dev-dependencies]
tempfile = "3.8.1"

[dependencies.pyo3]
workspace = true

[dependencies.reqwest]
version = "^0.12"
features = [ "blocking", "json",]
default-features = false

[dependencies.rust-ini]
version = "0.21"
optional = true

[dependencies.serde]
version = "1.0"
features = [ "derive",]

[dependencies.opam-file-rs]
version = "0.1"
optional = true

[dependencies.gix-config]
version = ">=0.20"
optional = true

[dependencies.distro-info]
version = "0.4"
optional = true

[dependencies.toml]
version = ">=0.5"
optional = true

[dependencies.mailparse]
version = "0.14"
optional = true

[dependencies.pyproject-toml]
version = "0.7"
optional = true

[dependencies.python-pkginfo]
version = ">=0.5"
optional = true

[workspace.dependencies]
pyo3 = "0.20"
pyo3-log = "0.8"

[[bin]]
name = "autodoap"

[[bin]]
name = "autocodemeta"
