[package]
name = "upstream-ontologist"
version = "0.1.35"
authors = [ "Jelmer Vernooij <jelmer@jelmer.uk>"]
edition = "2021"
license = "GPL-2.0+"
description = "tracking of upstream project metadata"
repository = "https://github.com/jelmer/upstream-ontologist.git"
homepage = "https://github.com/jelmer/upstream-ontologist"

[dependencies]
pyo3 = { version = "0.18", features=["auto-initialize"]}
log = "0.4"
shlex = "1.1.0"
serde_json = "1.0"

[lib]

[workspace]
members = [ "crates/*" ]
