Test-Command: python3 -m unittest tests.test_suite
Depends: perl-doc,
         python3-breezy,
         python3-bs4,
         python3-distro-info,
         python3-docutils,
         python3-dulwich,
         python3-lxml,
         python3-markdown,
         python3-ruamel.yaml,
         python3-setuptools,
         python3-toml,
         @
Restrictions: allow-stderr
