Source: upstream-ontologist
Rules-Requires-Root: no
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 12), python3-all
Priority: optional
Maintainer: Jelmer Vernooĳ <jelmer@debian.org>

Package: upstream-ontologist
Architecture: any
Description: tracking of upstream project metadata
