---
name: Rust

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  rust:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - name: Install breezy
        run: pip install breezy
      - name: Install python3-setuptools
        run: pip install setuptools
      - name: Build
        run: cargo build --verbose
      - name: Build without default features
        run: cargo build --verbose --no-default-features
      - name: Run tests
        run: cargo test --verbose
        if: matrix.os == 'windows-latest'
      - name: Run tests
        run: cargo test --verbose --features=debcargo
        if: matrix.os != 'windows-latest'
      - name: Check formatting
        run: cargo fmt --all -- --check

  minimal-versions:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - name: Install breezy
        run: pip install breezy
      - name: Install python3-setuptools
        run: pip install setuptools
      - name: Install cargo-minimal-versions
        run: cargo install cargo-minimal-versions
      - name: Install cargo-hack
        run: cargo install cargo-hack
      - name: Test with minimal versions
        run: cargo minimal-versions --direct test
